@tailwind base;
@tailwind components;
@tailwind utilities;





.swiper-pagination-bullet-active {
    background-color: #ff902a !important;
}

.swiper-pagination{
    bottom: 0;
}

.footer-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/footer image.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 24px;
}

@media  (max-width: 470px) {
    form input::placeholder {
        font-size: 13.5px;
    }
}


/* 
    ====================
       hamburger menu
    ====================
    */

    .hamburger-menu--close::after {
        content: '';
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 5rem;
        background-color: red;
        position: absolute;
        top: -0.3rem;
        transition: 0.2s;
    }

    .hamburger-menu--close::before {
        content: '';
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 5rem;
        background-color: red;
        position: absolute;
        top: 0.3rem;
        transition: 0.2s;
    }

    .hamburger-menu--open::after {
        content: '';
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 5rem;
        background-color: red;
        position: absolute;
        top: -0.3rem;
        transform: rotate(45deg)translateX(0.43rem);
        transition: 0.2s;
    }

    .hamburger-menu--open::before {
        content: '';
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 5rem;
        background-color: red;
        position: absolute;
        top: 0.32rem;
        transform: rotate(-45deg)translateX(0.45rem);
        transition: 0.2s;
    }

    /* 
    ====================
       hamburger menu
    ====================
    */
    
    /* 
    ====================
       purchased product
    ====================
    */


    .purchased-product {
        display: flex;
        align-items: center;
        padding-left: 0.25rem;
        border-top-width: 1px;
        border-color: #000;
    }

    .purchased-product p:first-child {
        width: 47%;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .purchased-product p:nth-child(2) {
        margin-right: 0.6rem;
        width: 16%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .purchased-product div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .purchased-product div input{
        width: 1rem;
        padding-left: 0.2rem;
        user-select: none;
        background-color: transparent;
    }

    .purchased-product img:nth-child(4) {
        height: 2rem;
        margin-left: 1rem;
        width: 1.2rem;
    }

    /* 
    ====================
       purchased product
    ====================
    */




@layer base {
    @font-face {
        font-family: "poppins Regular";
        src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    }

    @font-face {
        font-family: "poppins Semibold";
        src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
    }

    @font-face {
        font-family: "poppins Bold";
        src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    }

    @font-face {
        font-family: "Poppins Medium";
        src: url("../fonts/Poppins-Medium.ttf") format("truetype");
    }


}

@layer components {

    .container-essentials {
        @apply max-w-7xl lg:max-w-5xl md:max-w-3xl sm:max-w-2xl;
    }

    .btn {
        @apply flex justify-center items-center py-2 px-6 rounded-3xl;
    }

    .justify-items {
        @apply justify-center items-center;
    }

    .input::placeholder {
        font-size: 12px;
        line-height: 18px;
    }

    .custom-underline {
        @apply underline decoration-primary decoration-4;
    }

    .title {
        @apply font-poppinsSemiBold text-[2rem] leading-[3rem] pt-40 lg:pt-12 pb-60;
    }

    .overlay {
        @apply fixed top-0 left-0 bottom-0 right-0 z-20;
    }


    /* <li class="flex items-center pl-1 mt-1 border-t border-black">
            <p class="w-[47%] text-sm">${product.name}</p>
            <p class="mr-[0.6rem] w-[16%] flex justify-items">${product.price}$</p>
            <div class="flex justify-items w-[20%]">
                <img onclick="addProductHandler(event)" src="./svg-icons/add.svg">
                <input class="w-4 pl-[0.2rem] select-none bg-transparent" value="${product.number}" disabled type="text">
                <img onclick="subtractProductNumber(event)" src="./svg-icons/remove.svg">
            </div>
            <img onclick="productRemover(event)" class="w-[1.2rem] h-8 ml-4" src="./svg-icons/close.svg">
       </li> */




    /* 
    =============
       cart
    =============
    */

    .cart {
        @apply w-[21.5rem] h-[23.4rem] bg-white custom-shadow-two z-10 -mt-48 rounded-xl;
    }

    .cart div img {
        width: 19.2rem;
        height: 14.125rem;
        object-fit: cover;
        object-position: 50% 86%;
    }

    .cart-rating {
        @apply absolute top-9 left-8 bg-white custom-shadow flex justify-evenly items-center font-poppinsBold w-16 h-7 px-1 rounded-full;
    }

    .cart-info {
        @apply flex justify-between px-8 -mt-[0.1rem] text-secondary text-2xl leading-9;
    }

    .header-cart-trait {
        @apply leading-6 font-poppinsSemiBold border-2 border-extraTwo text-extraTwo hover:text-primary hover:border-primary cursor-pointer transition-all rounded-lg py-1 px-[0.63rem] --sm:text-[0.9rem] --sm:pt-[0.15rem] --sm:pb-[0.1rem] --sm:pl-[0.5rem] --sm:pr-[0.5rem];
    }

    .main-cart-trait {
        @apply font-poppinsSemiBold text-sm text-description-color --sm:text-[0.73rem];
    }

    .main-cart {
        @apply cart mt-6 md:mt-8 mx-3 md:mx-0 max-w-[22.25rem] h-[24.0625rem] custom-shadow-three --sm:h-fit;
    }

    
    /* 
    =============
       cart
    =============
    */



    /* 
    ====================
       custom shadows
    ====================
    */


    .custom-shadow {
        box-shadow: 0 0 0 5px rgba(250, 250, 250, 0.6);
    }

    .custom-shadow-two {
        box-shadow: 0 0 0 8px rgba(250, 250, 250, 0.8);
    }


    .custom-shadow-three {
        box-shadow: 0 20px 50px -5px rgb(0 0 0 / 10%), 0 -7px 10px -6px rgb(0 0 0 / 10%);
    }

    .custom-shadow-four {
        box-shadow: 0 0 0 5px rgba(255, 211, 144, 0.62);
    }

    /* 
    ====================
       custom shadows
    ====================
    */


    /* 
    ====================
       linear-gradient
    ====================
    */


    .linear-gradient {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }

    
    /* 
    ====================
       linear-gradient
    ====================
    */

    /* 
    ===========================
       delivery-section-item
    ===========================
    */
    .delivery-section-item {
        @apply flex flex-col justify-between items-center my-4;
    }

    .delivery-section-item h4 {
        @apply font-poppinsSemiBold text-2xl leading-9 text-secondary --sm:text-[1.4rem];
    }

    .delivery-section-item h5 {
        @apply text-lg text-secondary --sm:text-base;
    }


    /* 
    ===========================
       delivery-section-item
    ===========================
    */



    /* 
    ===========================
       swiper slide
    ===========================
    */
    
    .swiper-img {
        @apply w-[13.4rem] h-72 border-4 border-[#ffd390] object-cover ;
    }

    .swiper-div {
        @apply absolute inset-x-9 --sm:inset-x-[0.70rem] inset-y-44 --sm:inset-y-48 text-secondary w-56 --sm:w-48 h-[5.4rem] bg-[#ffcb7c] py-2 px-3 rounded-xl custom-shadow-four;
    }

    .swiper-div h4 {
        @apply font-PoppinsMedium text-lg --sm:text-base;
    }

    .swiper-div h5 {
        @apply text-sm --sm:text-xs;
    }

    /* 
    ===========================
       swiper slide
    ===========================
    */
    
}