body {
  background-color: #0d1321;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.how-much-time-left{
	position: absolute;
	top: 0;
	background-color: #FFD700;
	height: 5px;
}

.how-much-time-left-description{
	margin: 0 auto;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 23px;
	text-align: center;
}

/*
==========
  clock 
==========
*/

.clock {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

/*
================
  clock hands
================
*/

.hour-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  width: 8px;
  height: 60px;
  margin-left: -4px;
  margin-top: -60px;
  background-color: #333;
  border-radius: 8px 8px 0 0;
}

.minute-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  width: 6px;
  height: 90px;
  margin-left: -3px;
  margin-top: -90px;
  background-color: #555;
  border-radius: 6px 6px 0 0;
}

.second-hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom center;
  width: 2px;
  height: 110px;
  margin-left: -1px;
  margin-top: -110px;
  background-color: #f00;
  border-radius: 2px 2px 0 0;
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
  background-color: #333;
  border-radius: 50%;
}

/*
========================
  clock number holder
========================
*/

.clock__number-holder {
  position: absolute;
  height: 100%;
}

*>.clock__number-holder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
}

/*
==================
  clock numbers
==================
*/

.clock__number-holder-one {
  transform: rotate(30deg);
  position: relative;
}

.clock__number-one {
  transform: rotate(-30deg);
}

.clock__number-holder-two {
  transform: rotate(60deg);
}

.clock__number-two {
  transform: rotate(-60deg);
}

.clock__number-holder-three {
  transform: rotate(90deg);
}

.clock__number-three {
  transform: rotate(-90deg);
}

.clock__number-holder-four {
  transform: rotate(120deg);
}

.clock__number-four {
  transform: rotate(-120deg);
}

.clock__number-holder-five {
  transform: rotate(150deg);
}

.clock__number-five {
  transform: rotate(-150deg);
}

.clock__number-holder-six {
  transform: rotate(180deg);
}

.clock__number-six {
  transform: rotate(-180deg);
}

.clock__number-holder-seven {
  transform: rotate(210deg);
}

.clock__number-seven {
  transform: rotate(-210deg);
}

.clock__number-holder-eight {
  transform: rotate(240deg);
}

.clock__number-eight {
  transform: rotate(-240deg);
}

.clock__number-holder-nine {
  transform: rotate(270deg);
}

.clock__number-nine {
  transform: rotate(-270deg);
}

.clock__number-holder-ten {
  transform: rotate(300deg);
}

.clock__number-ten {
  transform: rotate(-300deg);
}

.clock__number-holder-eleven {
  transform: rotate(330deg);
}

.clock__number-eleven {
  transform: rotate(-330deg);
}

/*
=========
  date 
=========
*/

.date {
  margin: 3rem auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-align: center;
}



@media (max-width: 600px) {
	.how-much-time-left-description {
		font-size: 19px;
	}
}













