@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-lt";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}