@font-face {
    font-family: "Teko Light";
    src: url("../fonts/Teko-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Teko Regular";
    src: url("../fonts/Teko-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Teko Bold";
    src: url("../fonts/Teko-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Teko Medium";
    src: url("../fonts/Teko-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Teko SemiBold";
    src: url("../fonts/Teko-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Nunito Regular";
    src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
}







